<%- include("../partials/header") %>

<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
  <label for="name-input">Recipe Name:</label>
  <input type="text" name="name" id="name-input" value="<%= recipe.name %>" required />
  <label for="theme-input">Theme:</label>
  <!-- load in the contest ID, name, and theme into req.body -->
  <input
    type="text"
    name="cuisine"
    id="theme-input"
    value="<%= recipe.cuisine %>"
    disabled
  />
  <input type="hidden" name="contest" value="<%= recipe.contestId %>" />
  <input type="hidden" name="cuisine" value="<%= recipe.cuisine %>" />
  <input type="hidden" name="contestName" value="<%= recipe.contestName %>" />
  <label for="type-input">Type:</label>
  <select name="type">
    <option 
      value="Breakfast"
      <%- (recipe.type === "Breakfast" ? "selected" : "") %>
    >
      Breakfast
    </option>
    <option
      value="Smallplate"
      <%- (recipe.type === "Smallplate" ? "selected" : "") %>
    >
      Smallplate
    </option>
    <option
      value="Snack"
      <%- (recipe.type === "Snack" ? "selected" : "") %>
    >
      Snack
    </option>
    <option
      value="Appetizer"
      <%- (recipe.type === "Appetizer" ? "selected" : "") %>
    >
      Appetizer
    </option>
    <option
      value="Entree"
      <%- (recipe.type === "Entree" ? "selected" : "") %>
    >
      Entree
    </option>
    <option
      value="Side"
      <%- (recipe.type === "Side" ? "selected" : "") %>
    >
      Side
    </option>
    <option
      value="Dessert"
      <%- (recipe.type === "Dessert" ? "selected" : "") %>
    >
      Dessert
    </option>
    <option
      value="Beverage"
      <%- (recipe.type === "Beverage" ? "selected" : "") %>
    >
      Beverage
    </option>
  </select>
  <label for="ing1-input">Ingredient 1 (required):</label>
  <select name="ing1" id="ing1-input" required>
    <option value="" selected disabled hidden>Select Ingredient 1</option>
    <% for (category in ingredients) { %>
      <option disabled><%= category %></option>
      <% ingredients[category].forEach(ing => { %>
        <option 
          value="<%= ing %>" 
          <%- recipe.ingredients[0] === ing ? "selected" : "" %>
        >
          <%= ing %>
        </option>
      <% }); %>
    <% } %>
  </select>
  <label for="ing2-input">Ingredient 2 (required):</label>
  <select name="ing2" id="ing2-input" required>
    <option value="" selected disabled hidden>Select Ingredient 2</option>
    <% for (category in ingredients) { %>
      <option disabled><%= category %></option>
      <% ingredients[category].forEach(ing => { %>
        <option 
          value="<%= ing %>" 
          <%- recipe.ingredients[1] === ing ? "selected" : "" %>
        >
          <%= ing %>
      </option>
      <% }); %>
    <% } %>
  </select>
  <label for="ing3-input">Ingredient 3:</label>
  <select name="ing3" id="ing3-input">
    <option value="" selected disabled hidden>Select Ingredient 3</option>
    <% for (category in ingredients) { %>
      <option disabled><%= category %></option>
      <% ingredients[category].forEach(ing => { %>
        <option 
          value="<%= ing %>" 
          <%- recipe.ingredients[2] === ing ? "selected" : "" %>
        >
          <%= ing %>
      </option>
      <% }); %>
    <% } %>
  </select>
  <label for="ing4-input">Ingredient 4:</label>
  <select name="ing4" id="ing4-input">
    <option value="" selected disabled hidden>Select Ingredient 4</option>
    <% for (category in ingredients) { %>
      <option disabled><%= category %></option>
      <% ingredients[category].forEach(ing => { %>
        <option 
          value="<%= ing %>" 
          <%- recipe.ingredients[3] === ing ? "selected" : "" %>
        >
          <%= ing %>
      </option>
      <% }); %>
    <% } %>
  </select>
  <input type="submit" value="Update Recipe" />
</form>

<div>
  <h3>Current Score: <%= recipe.score %></h3>
</div>

<%- include("../partials/footer") %>
