<%- include("../partials/header") %>

<div class="container">
  <form action="/recipes" method="POST">
    <div class="row justify-content-center">
      <div class="col-4">
        <label for="name-input" class="form-label mt-2">Recipe Name:</label>
        <input 
          type="text" class="form-control" name="name" 
          id="name-input" required 
        />
      </div>
      <!-- show theme of the contest but don't allow user to change it -->
      <div class="col-4">
        <label class="form-label mt-2">Theme:</label>
        <input 
          type="text" class="form-control" name="cuisine" 
          value="<%= theme %>" readonly 
        />
      </div>
    </div>
    <!-- load in the contest ID and name into req.body -->
    <input type="hidden" name="contest" value="<%= contestId %>" />
    <input type="hidden" name="contestName" value="<%= contestName %>" />
    <div class="row justify-content-center">
      <div class="col-4">
        <label for="image-input" class="form-label mt-2">Image Link:</label>
        <input 
          type="url" class="form-control" name="image" 
          id="image-input" required 
        /> 
      </div>
      <div class="col-4">
        <label for="type-input" class="form-label mt-2">Type:</label>
        <select class="form-select" name="type" id="type-input" required>
          <option value="" selected disabled hidden>Select Type</option>
          <option value="Breakfast">Breakfast</option>
          <option value="Snack">Snack</option>
          <option value="Appetizer">Appetizer</option>
          <option value="Entree">Entree</option>
          <option value="Side">Side</option>
          <option value="Dessert">Dessert</option>
          <option value="Beverage">Beverage</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <label for="ing1-input" class="form-label mt-2">
          Ingredient 1 (required):
        </label>
        <select class="form-select" name="ing1" id="ing1-input" required>
          <!-- placeholder before user selects an ingredient -->
          <option value="" selected disabled hidden>
            Select Ingredient 1
          </option>
          <!-- load ingredients -->
          <% for (category in ingredients) { %>
            <optgroup label="<%= category %>">
            <% ingredients[category].forEach(ing => { %>
              <option value="<%= ing %>"><%= ing %></option>
            <% }); %>
          <% } %>
        </select>
      </div>
      <div class="col-4">
        <label for="ing2-input" class="form-label mt-2">
          Ingredient 2 (required):
        </label>
        <select class="form-select" name="ing2" id="ing2-input" required>
          <!-- placeholder before user selects an ingredient -->
          <option value="" selected disabled hidden>
            Select Ingredient 2
          </option>
          <!-- load ingredients -->
          <% for (category in ingredients) { %>
            <optgroup label="<%= category %>">
            <% ingredients[category].forEach(ing => { %>
              <option value="<%= ing %>"><%= ing %></option>
            <% }); %>
          <% } %>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <label for="ing3-input" class="form-label mt-2">
          Ingredient 3:
        </label>
        <select class="form-select" name="ing3" id="ing3-input">
          <!-- placeholder before user selects an ingredient -->
          <option value="" selected disabled hidden>
            Select Ingredient 3
          </option>
          <!-- load ingredients -->
          <% for (category in ingredients) { %>
            <optgroup label="<%= category %>">
            <% ingredients[category].forEach(ing => { %>
              <option value="<%= ing %>"><%= ing %></option>
            <% }); %>
          <% } %>
        </select>
      </div>
      <div class="col-4">
        <label for="ing4-input" class="form-label mt-2">
          Ingredient 4:
        </label>
        <select class="form-select" name="ing4" id="ing4-input">
          <!-- placeholder before user selects an ingredient -->
          <option value="" selected disabled hidden>
            Select Ingredient 4
          </option>
          <!-- load ingredients -->
          <% for (category in ingredients) { %>
            <optgroup label="<%= category %>">
            <% ingredients[category].forEach(ing => { %>
              <option value="<%= ing %>"><%= ing %></option>
            <% }); %>
          <% } %>
        </select>
      </div>
    </div>
    <div class="row text-center">
      <div>
        <button type="submit" class="btn btn-success mt-4">
          Submit Recipe
        </button>
      </div>
    </div>
  </form>
</div>

<%- include("../partials/footer") %>
